* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --transition-medium: 0.5s ease;
}

body {
    overflow-x: hidden;
    background-color: $bg-dark;
    color: $text-white;
    font-family: 'Inter', sans-serif; // Using a modern font
}

section {
    padding: 100px 0;

    @media (max-width: $breakpoint-mobile) {
        padding: 60px 0;
    }
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}